<!doctype html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Hello, world!</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Belgrano|Flamenco" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills float-right">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger " href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger" href="#">Contact</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="jumbotron bgimg">
        <h1 class="display-3">Spicy Food</h1>
        <h3 class="lead strong">How to become a Hot Pepper Emperor</h3>
        <p><a class="btn btn-lg btn-success" href="/signUp" role="button">Sign up today</a></p>
    </div>


    <div class="row marketing">
        <div class="col-lg-6">
            <img class="img-fluid" src="../img/chilieating.jpg"/>
        </div>
        <div class="col-lg-6">
            <p><b>Want to stay seated?</b></p>
            <p><i>Study up on different cuisine.</i> Many different types of cuisine throughout the world utilize a few staple spices in their dishes. Become familiar with the go-to spices of each regional cuisine to prepare yourself for a particular level of heat.
            </p>
            <p><i>Indian cuisine.</i> Often employs a few specific peppers in a spice mixture called a masala. Most common in these masalas is the green finger chile. Chefs will often adjust the spice mixture of the masala, so ask ahead to gauge the spiciness featured in the masala.</p>
            <p><i>Ethiopian food.</i> often contains a spice mixture called “berbere,” which features not only red chili peppers, but ginger, garlic and cloves. This mix of heat can create a much different (and hotter) experience than a dish featuring only capsaicin-based spices.
            </p>
        </div>

    </div>
    <footer class="footer">
        <p>&copy; Emperor Pepper 2019</p>
    </footer>
</div>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>